body {
  background-color: #000;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 12px;
  width: 300px;
}

.sidebar_navigation {
  background-color: #121212;
  border-radius: 8px;
  padding: 16px;
}

.sidebar_navigation .logo img {
  display: flex;
  width: 80px;
  margin-bottom: 20px;
}

.sidebar nav ul li {
  padding: 10px;
}

.sidebar nav ul li a {
  color: #b3b3b3;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  font-family: "DM Sans", sans-serif;
}

.sidebar_library {
  background-color: #121212;
  border-radius: 8px;
  padding: 16px;
  margin-top: 20px;
}
